@import url('https://fonts.googleapis.com/css?family=Manrope:600,800&display=swap');

body{
    font-family: 'Manrope', sans-serif !important;
}

.cs-w {
    width: 750px !important;
}

.cs-transition {
    transition: .5s !important;
}

/*Background*/
.cs-bg-image {
    background: url('../images/bg-pattern.svg') no-repeat center top / 100% 50%;
}

.cs-bg-logo {
    background: url('../images/pattern-circles.svg') no-repeat center center / auto 100%;
}

/*Font*/
.cs-fw-800 {
    font-weight: 800 !important;
}

.cs-fc-dark-blue {
    color: hsl(227, 35%, 25%) !important;
}

.cs-fc-grey-blue {
    color: hsl(225, 20%, 60%) !important;
}

.cs-ls {
    letter-spacing: 3px !important;
}

/*Range*/
.cs-range {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background-color: hsl(224, 65%, 95%) !important;
    background: linear-gradient(to right, hsl(174, 86%, 45%) 0%, hsl(174, 86%, 45%) var(--value), hsl(224, 65%, 95%) var(--value), hsl(224, 65%, 95%) 100%);
    border-radius: 5px;
    outline: none;
    transition: background 450ms ease-in;
}

.cs-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    border: 2px solid hsl(174, 86%, 45%);
    cursor: pointer;
}

.cs-range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    border: 2px solid hsl(174, 86%, 45%);
    cursor: pointer;
}

.cs-range:hover {
    opacity: 50%;
}

/*Badge*/
.badge.cs-badge {
    background-color: hsl(14, 92%, 95%) !important;
    color: hsl(15, 100%, 70%) !important;
}

/*Buttons*/
.cs-btn {
    background-color: hsl(227, 35%, 25%) !important;
    color: hsl(223, 50%, 87%) !important;
}

.cs-btn:hover {
    color: hsl(230, 100%, 99%) !important;
}

/*Switch*/
#custom-switch.form-check-input {
    box-shadow: none !important;
    width: 40px !important;
    height: 20px !important;
    border: none !important;
    background-color: hsl(224, 65%, 95%) !important;
    transition: .5s !important;
    color: black !important;
    position: relative;
}

#custom-switch.form-check-input:checked {
    background-color: hsl(174, 86%, 45%) !important;
}

#custom-switch.form-check-input:hover {
    opacity: 50% !important;
}

#custom-switch.form-check-input::after {
    content: '';
    display: inline-block;
    width: 17px; /* Adjust size as needed */
    height: 17px; /* Adjust size as needed */
    background-color: white !important; /* Knob color */
    border-radius: 50%; /* Make it round */
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    transition: left 0.5s; /* Smooth transition */
    left: 1px !important; /* Initial position */
}

/* Change knob position and color when checked */
#custom-switch.form-check-input:checked::after {
    left: calc(100% - 18px) !important; /* Adjust based on size to move to the right */
    background-color: white !important; /* Knob color when checked */
}